# Dependency directories
node_modules/

# Log files
*.log

# IDE or editor files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# npm debugging logs
npm-debug.log*

# yarn logs
yarn-debug.log*
yarn-error.log*

.env